# Basic Python 1

## Variabel

In [2]:
text = "Hola"
bulat = 6
pecah = 5.5
multi = [4,5, "Brian"]

In [3]:
print(text)

Hola

In [4]:
print(bulat)

6

In [5]:
print(pecah)

5.5

In [6]:
print(multi)

[4, 5, 'Brian']

In [7]:
nama = "Brian"
print(text+" "+nama)

Hola Brian

In [8]:
print("{}, Selamat Datang {}.".format(text,nama))

Hola, Selamat Datang Brian.

### Mengisi Beberapa Variabel

In [9]:
var1, var2, var3 = 5,6,"Guru"
print(var1)
print(var2)
print(var3)

5
6
Guru

In [11]:
var1 = var2 = var3 = 10
print(var1)
print(var2)
print(var3)

10
10
10

### Operator Aritmatika

In [13]:
5+10

15

In [16]:
var1 = 5
var2 = 10
vart_t = var1+var2
print(vart_t)

15

In [17]:
var1 = 5
var2 = 10
vart_t = var1-var2
print(vart_t)

-5

In [18]:
var1 = 6
var2 = 9
vart_t = var1*var2
print(vart_t)

54

In [19]:
var1 = 6
var2 = 9
vart_t = var1/var2
print(vart_t)

0.6666666666666666

In [23]:
var1 = 10
var2 = 7
vart_t = var1%var2
print(vart_t)

3

In [24]:
var1 = 10
var2 = 3
vart_t = var1//var2
print(vart_t)

3

In [25]:
var1 = 2
var2 = 3
vart_t = var1**var2
print(vart_t)

8

### Update Angka Variabel Dari Operator

In [26]:
var1 = 5
var1+=10
print(var1)

15

In [27]:
var1 = 100
var1-=14
print(var1)

90

In [28]:
var1 = 100
var1*=14
print(var1)

1400

In [29]:
var1 = 100
var1/=14
print(var1)

7.142857142857143

In [30]:
var1 = 100
var1%=14
print(var1)

2

### Operator Perbandingan

In [31]:
var1, var2 = 2,3
print(var1==var2)

False

In [32]:
print(2==2)

True

In [33]:
var1, var2 = 2,3
print(var1!=var2)

True

In [34]:
var1, var2 = 2,3
print(var1>var2)

False

In [35]:
var1, var2 = 2,3
print(var1<var2)

True

In [36]:
var1 = var2 = 3 
print(var1<var2)

False

In [ ]:
var1 = var2 = 3 
print(var1<var2)

In [37]:
print(var1<=var2)

True

In [38]:
print(var1>=var2)

True

### Operator Logika

In [39]:
var1 = True
var2 = False
var3 = True
print(True and False)

False

In [40]:
print(var1 and var2)

False

In [41]:
print(var1 and var3)

True

In [45]:
print(var1 or var2)

True

In [44]:
print(var2 or var2)

False

In [46]:
print(var1)

True

In [47]:
print(not var1)

False

### Tipe Data dan Konversi

In [48]:
text = "Hola"
bulat = 6
pecah = 5.5
multi = [4,5, "Brian"]

In [49]:
type(text)

str

In [50]:
type(bulat)

int

In [51]:
type(pecah)

float

In [52]:
type(multi)

list

In [53]:
int(pecah)

5

In [54]:
pecah

5.5

In [55]:
print(text+ " " +str(pecah))

Hola 5.5

### Project Perpustakaan

In [56]:
#Inisialisasi
Nama_buku_1="Fisika"
Nama_buku_2="Kimia"
Nama_buku_3="Biologi"
durasi=3

In [57]:
type(Nama_buku_1),type(Nama_buku_2),type(Nama_buku_3), type(durasi)

(str, str, str, int)

In [58]:
kode_buku_1="PS_001"
kode_buku_2="PS_002"
kode_buku_3="PS_003"

In [61]:
type(kode_buku_1), type(kode_buku_2), type(kode_buku_3)

(str, str, str)

In [59]:
N_buku_1=N_buku_2=N_buku_3=10

In [60]:
type(N_buku_1)

int

# Basic Python 2

### List

In [62]:
Nama_Blackpink = ["Kim Jisoo", "Kim Jennie", "Park Chaeyoung", "Lalisa Manobal"]

In [63]:
Nama_Blackpink

['Kim Jisoo', 'Kim Jennie', 'Park Chaeyoung', 'Lalisa Manobal']

In [64]:
type(Nama_Blackpink)

list

In [65]:
len(Nama_Blackpink)

4

In [66]:
print(Nama_Blackpink[0])

Kim Jisoo

In [67]:
print(Nama_Blackpink[1])

Kim Jennie

In [68]:
print(Nama_Blackpink[2])

Park Chaeyoung

In [69]:
print(Nama_Blackpink[3])

Lalisa Manobal

#### Modifikasi (Hapus-Tambah)

In [70]:
Nama_Blackpink[3]="Lilis"

In [72]:
Nama_Blackpink[2]="Lastri"

In [73]:
Nama_Blackpink[1]="Jubran"

In [74]:
Nama_Blackpink[0]="Oosir"

In [75]:
Nama_Blackpink

['Oosir', 'Jubran', 'Lastri', 'Lilis']

In [76]:
Nama_Blackpink.remove(Nama_Blackpink[0])

In [77]:
Nama_Blackpink

['Jubran', 'Lastri', 'Lilis']

In [78]:
Nama_Blackpink.append("I'm Jisoo, I'm Okay")

In [79]:
Nama_Blackpink

['Jubran', 'Lastri', 'Lilis', "I'm Jisoo, I'm Okay"]

### Tuple

In [80]:
Blackpink_Songs = ("You Never Know", "Tally", "Pink Venom", "Typa Girl")

In [81]:
type(Blackpink_Songs)

tuple

In [82]:
len(Blackpink_Songs)

4

In [83]:
print(Blackpink_Songs[3])

Typa Girl

### Dictionary

In [99]:
Role = {"Jisoo":["Visual", "Lead Vocalist", "Eldest"],
       "Jennie":["Main Rapper", "Vocalist", "Dancer"],
       "Rose":["Main Vocalist","Lead Dancer","Bias Wrecker"],
       "Lisa":["Main Dancer", "Lead Rapper", "Youngest"]}

In [100]:
Role

{'Jisoo': ['Visual', 'Lead Vocalist', 'Eldest'],
 'Jennie': ['Main Rapper', 'Vocalist', 'Dancer'],
 'Rose': ['Main Vocalist', 'Lead Dancer', 'Bias Wrecker'],
 'Lisa': ['Main Dancer', 'Lead Rapper', 'Youngest']}

In [103]:
type(Role)

dict

In [104]:
len(Role)

4

In [105]:
len(Role["Jisoo"]) # Role Nama Variabel Dictionary; Jisoo = Key; Rest;Value

3

In [106]:
len(Role["Jennie"])

3

In [107]:
len(Role["Rose"])

3

In [108]:
len(Role["Lisa"])

3

### Modifikasi (Hapus-Tambah)

In [109]:
Role["Jisoo"][2]="Fake Maknae"

In [110]:
Role["Jisoo"]

['Visual', 'Lead Vocalist', 'Fake Maknae']

In [111]:
Role["Jisoo"].remove(Role["Jisoo"][2])

In [112]:
Role

{'Jisoo': ['Visual', 'Lead Vocalist'],
 'Jennie': ['Main Rapper', 'Vocalist', 'Dancer'],
 'Rose': ['Main Vocalist', 'Lead Dancer', 'Bias Wrecker'],
 'Lisa': ['Main Dancer', 'Lead Rapper', 'Youngest']}

In [113]:
len(Role["Jisoo"])

2

In [114]:
Role["Aldwi"]="Jisoo"

In [115]:
Role

{'Jisoo': ['Visual', 'Lead Vocalist'],
 'Jennie': ['Main Rapper', 'Vocalist', 'Dancer'],
 'Rose': ['Main Vocalist', 'Lead Dancer', 'Bias Wrecker'],
 'Lisa': ['Main Dancer', 'Lead Rapper', 'Youngest'],
 'Aldwi': 'Jisoo'}

### Project Perpustakaan 2

In [116]:
#Inisialisasi
Nama_buku_1="Fisika"
Nama_buku_2="Kimia"
Nama_buku_3="Biologi"
durasi=3

In [117]:
type(Nama_buku_1),type(Nama_buku_2),type(Nama_buku_3), type(durasi)

(str, str, str, int)

In [118]:
kode_buku_1="PS_001"
kode_buku_2="PS_002"
kode_buku_3="PS_003"

In [119]:
N_buku_1=N_buku_2=N_buku_3=10

In [120]:
type(N_buku_1)

int

In [121]:
Nama_buku=(Nama_buku_1,Nama_buku_2,Nama_buku_3)
Kode_buku=[kode_buku_1,kode_buku_2,kode_buku_3]
N_buku=[N_buku_1, N_buku_2, N_buku_3]

In [122]:
type(Nama_buku), type(Kode_buku), type(N_buku)

(tuple, list, list)

In [123]:
Pustaka={"Nama":Nama_buku,
 "Kode":Kode_buku,
 "Jumlah":N_buku}

In [124]:
type(Pustaka)

dict

In [125]:
Pustaka

{'Nama': ('Fisika', 'Kimia', 'Biologi'),
 'Kode': ['PS_001', 'PS_002', 'PS_003'],
 'Jumlah': [10, 10, 10]}

In [126]:
Nama_buku=[Nama_buku_1,Nama_buku_2,Nama_buku_3]
pustaka={"Nama":Nama_buku,
 "Kode":Kode_buku,
 "Jumlah":N_buku}
pustaka

{'Nama': ['Fisika', 'Kimia', 'Biologi'],
 'Kode': ['PS_001', 'PS_002', 'PS_003'],
 'Jumlah': [10, 10, 10]}

In [127]:
pustaka['Nama'].append('Seni')
pustaka['Kode'].append('PS_004')
pustaka['Jumlah'].append(15)
print("Buku {} dengan jumlah {}".format(pustaka["Nama"][-1],
 pustaka['Jumlah'][-1]))

Buku Seni dengan jumlah 15

In [128]:
pustaka

{'Nama': ['Fisika', 'Kimia', 'Biologi', 'Seni'],
 'Kode': ['PS_001', 'PS_002', 'PS_003', 'PS_004'],
 'Jumlah': [10, 10, 10, 15]}

# Basic Python 3

### IF

In [41]:
var1 = int(input("Masukan Nilai = "))
if var1 > 0:
    print("Bilangan Positif Dengan Nilai", var1)
else:
    print("Bilangan Negatif Dengan Nilai", var1)

Masukan Nilai = 9
Bilangan Positif Dengan Nilai 9

In [133]:
var1 = int(input("Masukan Nilai = "))
if var1 > 0:
    print("Bilangan Positif Dengan Nilai", var1)
else:
    print("Bilangan Negatif Dengan Nilai", var1)

Masukan Nilai = 0
Bilangan Negatif Dengan Nilai 0

In [135]:
var1 = int(input("Masukan Nilai = "))
if var1 >=0:
    print("Bilangan Positif Dengan Nilai", var1)
else:
    print("Bilangan Negatif Dengan Nilai", var1)

Masukan Nilai = 0
Bilangan Positif Dengan Nilai 0

In [138]:
var2 = str(input("Username (3-5 Karakter)="))
if len(var2)<3:
    print("Kurang Dari 3, Panjang Username = ",len(var2))
elif len(var2)>=3 and len(var2)<=5:
    print("Data Telah Tersimpan ")
else:
    print("Panjang Username Berlebih, Yaitu:",len(var2))

Username (3-5 Karakter)=Jisoo
Data Telah Tersimpan

In [139]:
var2 = str(input("Username (3-5 Karakter)="))
if len(var2)<3:
    print("Kurang Dari 3, Panjang Username = ",len(var2))
elif len(var2)>=3 and len(var2)<=5:
    print("Data Telah Tersimpan ")
else:
    print("Panjang Username Berlebih, Yaitu:",len(var2))

Username (3-5 Karakter)=AM
Kurang Dari 3, Panjang Username =  2

In [140]:
var2 = str(input("Username (3-5 Karakter)="))
if len(var2)<3:
    print("Kurang Dari 3, Panjang Username = ",len(var2))
elif len(var2)>=3 and len(var2)<=5:
    print("Data Telah Tersimpan ")
else:
    print("Panjang Username Berlebih, Yaitu:",len(var2))

Username (3-5 Karakter)=Roseane
Panjang Username Berlebih, Yaitu: 7

In [144]:
var3 = str(input("Pilih Voucher A atau B="))
if var3=="A":
    var4 = int(input("Masukkan Angka 1-3="))
    if var4==1:
        print(var3+str(var4)+"=Mobil")
    elif var4==2:
        print(var3+str(var4)+"=Motor")
    elif var4==3:
        print(var3+str(var4)+"=Sepeda")
    else:
        print("Tidak Ditemukan")
        
elif var3=="B":
    var4 = int(input("Masukkan Angka 1-3="))
    if var4==1:
        print(var3+str(var4)+"=Mesin Cuci")
    elif var4==2:
        print(var3+str(var4)+"=Kipas Angin")
    elif var4==3:
        print(var3+str(var4)+"=AC")
    else:
        print("Tidak Ditemukan")

Pilih Voucher A atau B=A
Masukkan Angka 1-3=1
A1=Mobil

In [145]:
var3 = str(input("Pilih Voucher A atau B="))
if var3=="A":
    var4 = int(input("Masukkan Angka 1-3="))
    if var4==1:
        print(var3+str(var4)+"=Mobil")
    elif var4==2:
        print(var3+str(var4)+"=Motor")
    elif var4==3:
        print(var3+str(var4)+"=Sepeda")
    else:
        print("Tidak Ditemukan")
        
elif var3=="B":
    var4 = int(input("Masukkan Angka 1-3="))
    if var4==1:
        print(var3+str(var4)+"=Mesin Cuci")
    elif var4==2:
        print(var3+str(var4)+"=Kipas Angin")
    elif var4==3:
        print(var3+str(var4)+"=AC")
    else:
        print("Tidak Ditemukan")

Pilih Voucher A atau B=B
Masukkan Angka 1-3=1
B1=Mesin Cuci

### While

In [147]:
var1 = 0
while var1<5:
    print(var1)
    var1+=1

0
1
2
3
4

In [148]:
var2 = 0
while True:
    print(var2)
    var2+=1
    if var2==5:
        break
print("Selesai")

0
1
2
3
4
Selesai

In [151]:
var3 = 4
while var3>0:
    print(var3)
    var3-=1

4
3
2
1

### FOR

In [152]:
for i in range (0,5):
    print(i)

0
1
2
3
4

In [153]:
for i in range (0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [154]:
Nama_Blackpink = ["Kim Jisoo", "Kim Jennie", "Park Chaeyoung", "Lalisa Manobal"]

In [155]:
Nama_Blackpink

['Kim Jisoo', 'Kim Jennie', 'Park Chaeyoung', 'Lalisa Manobal']

In [156]:
for i in range (0, len(Nama_Blackpink)):
    print(Nama_Blackpink[i])

Kim Jisoo
Kim Jennie
Park Chaeyoung
Lalisa Manobal

In [157]:
for BP in Nama_Blackpink:
    print(BP)

Kim Jisoo
Kim Jennie
Park Chaeyoung
Lalisa Manobal

In [158]:
for i in "Aldwi Mandak":
    print(i)

A
l
d
w
i

M
a
n
d
a
k

In [159]:
for i in range(len(Nama_Blackpink)):
    Nama_Blackpink[i]=str(input("Masukan Data Ke-"+str(i)+"-"))

Masukan Data Ke-0-Aldwi
Masukan Data Ke-1-Mandak
Masukan Data Ke-2-Jisoo
Masukan Data Ke-3-Rose

In [160]:
Nama_Blackpink

['Aldwi', 'Mandak', 'Jisoo', 'Rose']

### Project Perpustakaan 3 (Denda)

In [20]:
#Inisialisasi
Nama_buku_1="Fisika"
Nama_buku_2="Kimia"
Nama_buku_3="Biologi"
durasi=3

In [21]:
type(Nama_buku_1),type(Nama_buku_2),type(Nama_buku_3), type(durasi)

(str, str, str, int)

In [22]:
kode_buku_1="PS_001"
kode_buku_2="PS_002"
kode_buku_3="PS_003"

In [23]:
N_buku_1=N_buku_2=N_buku_3=10

In [24]:
type(N_buku_1)

int

In [25]:
Nama_buku=(Nama_buku_1,Nama_buku_2,Nama_buku_3)
Kode_buku=[kode_buku_1,kode_buku_2,kode_buku_3]
N_buku=[N_buku_1, N_buku_2, N_buku_3]

In [26]:
Nama_buku=[Nama_buku_1,Nama_buku_2,Nama_buku_3]
pustaka={"Nama":Nama_buku,
 "Kode":Kode_buku,
 "Jumlah":N_buku}
pustaka

{'Nama': ['Fisika', 'Kimia', 'Biologi'],
 'Kode': ['PS_001', 'PS_002', 'PS_003'],
 'Jumlah': [10, 10, 10]}

In [27]:
type(Nama_buku), type(Kode_buku), type(N_buku)

(list, list, list)

In [28]:
pustaka['Nama'].append('Seni')
pustaka['Kode'].append('PS_004')
pustaka['Jumlah'].append(15)
print("Buku {} dengan jumlah {}".format(pustaka["Nama"][-1],
                                        pustaka['Jumlah'][-1]))

Buku Seni dengan jumlah 15

In [29]:
type(pustaka)

dict

In [30]:
pustaka

{'Nama': ['Fisika', 'Kimia', 'Biologi', 'Seni'],
 'Kode': ['PS_001', 'PS_002', 'PS_003', 'PS_004'],
 'Jumlah': [10, 10, 10, 15]}

In [31]:
print("Buku yang tersedia:")
print("Nama Buku\t Kode Buku\t Jumlah")
for i in range(len(pustaka['Nama'])):
 print("Buku {}\t kode {}\t {}".format(
 pustaka['Nama'][i],
 pustaka['Kode'][i],
 pustaka['Jumlah'][i]))

Buku yang tersedia:
Nama Buku	 Kode Buku	 Jumlah
Buku Fisika	 kode PS_001	 10
Buku Kimia	 kode PS_002	 10
Buku Biologi	 kode PS_003	 10
Buku Seni	 kode PS_004	 15

In [32]:
print("Form Peminjaman")
varNama=str(input("Nama Peminjam ="))
varBuku=str(input("Kode Buku= "))
for i in range(len(pustaka['Kode'])):
    if varBuku==pustaka['Kode'][i] and pustaka['Jumlah'][i]>1:
        print("Bisa pinjam".format(varNama))
        print("Durasi waktu pinjam {} hari".format(durasi))
        pustaka['Jumlah'][i]-=1
        break
    elif i==len(pustaka['Kode'])-1:
        print("Tidak bisa dipinjam")

Form Peminjaman
Nama Peminjam =Aldwi
Kode Buku= PS_003
Bisa pinjam
Durasi waktu pinjam 3 hari

In [33]:
pustaka

{'Nama': ['Fisika', 'Kimia', 'Biologi', 'Seni'],
 'Kode': ['PS_001', 'PS_002', 'PS_003', 'PS_004'],
 'Jumlah': [10, 10, 9, 15]}

In [34]:
print("Form Peminjaman")
varNama=str(input("Nama Peminjam ="))
varBuku=str(input("Kode Buku= "))
for i in range(len(pustaka['Kode'])):
    if varBuku==pustaka['Kode'][i] and pustaka['Jumlah'][i]>1:
        print("Bisa pinjam".format(varNama))
        print("Durasi waktu pinjam {} hari".format(durasi))
        pustaka['Jumlah'][i]-=1
    elif i==len(pustaka['Kode'])-1:
        print("Tidak bisa dipinjam")

Form Peminjaman
Nama Peminjam =Mandak
Kode Buku= PS_003
Bisa pinjam
Durasi waktu pinjam 3 hari
Tidak bisa dipinjam

In [35]:
pustaka

{'Nama': ['Fisika', 'Kimia', 'Biologi', 'Seni'],
 'Kode': ['PS_001', 'PS_002', 'PS_003', 'PS_004'],
 'Jumlah': [10, 10, 8, 15]}

In [36]:
print("Form Pengembalian")
varNama=str(input("Nama Peminjam\t="))
varBuku=str(input("Kode Buku\t="))
varHari=int(input("Jumlah Hari\t="))
for i in range(len(pustaka['Kode'])):
    if varBuku==pustaka['Kode'][i]:
        if varHari>=durasi:
            denda=(varHari-durasi)*1000
            print("Terima kasih, {}\nDenda sebesar Rp.{}".format(varNama,denda))
            pustaka['Jumlah'][i]+=1
            break
        else:
            print("Terima kasih,{}".format(varNama))
            pustaka['Jumlah'][i]+=1
            break
    elif i==len(pustaka['Kode'])-1:
        print("Salah kode")

Form Pengembalian
Nama Peminjam	=Aldwi
Kode Buku	=Biologi
Jumlah Hari	=3
Salah kode

In [37]:
pustaka

{'Nama': ['Fisika', 'Kimia', 'Biologi', 'Seni'],
 'Kode': ['PS_001', 'PS_002', 'PS_003', 'PS_004'],
 'Jumlah': [10, 10, 8, 15]}

In [38]:
print("Form Pengembalian")
varNama=str(input("Nama Peminjam\t="))
varBuku=str(input("Kode Buku\t="))
varHari=int(input("Jumlah Hari\t="))
for i in range(len(pustaka['Kode'])):
    if varBuku==pustaka['Kode'][i]:
        if varHari>=durasi:
            denda=(varHari-durasi)*1000
            print("Terima kasih, {}\nDenda sebesar Rp.{}".format(varNama,denda))
            pustaka['Jumlah'][i]+=1
            break
        else:
            print("Terima kasih,{}".format(varNama))
            pustaka['Jumlah'][i]+=1
            break
    elif i==len(pustaka['Kode'])-1:
        print("Salah kode")

Form Pengembalian
Nama Peminjam	=Aldwi
Kode Buku	=PS_003
Jumlah Hari	=3
Terima kasih, Aldwi
Denda sebesar Rp.0

In [39]:
print("Form Pengembalian")
varNama=str(input("Nama Peminjam\t="))
varBuku=str(input("Kode Buku\t="))
varHari=int(input("Jumlah Hari\t="))
for i in range(len(pustaka['Kode'])):
    if varBuku==pustaka['Kode'][i]:
        if varHari>=durasi:
            denda=(varHari-durasi)*1000
            print("Terima kasih, {}\nDenda sebesar Rp.{}".format(varNama,denda))
            pustaka['Jumlah'][i]+=1
            break
        else:
            print("Terima kasih,{}".format(varNama))
            pustaka['Jumlah'][i]+=1
            break
    elif i==len(pustaka['Kode'])-1:
        print("Salah kode")

Form Pengembalian
Nama Peminjam	=Mandak
Kode Buku	=PS_003
Jumlah Hari	=5
Terima kasih, Mandak
Denda sebesar Rp.2000

In [40]:
pustaka

{'Nama': ['Fisika', 'Kimia', 'Biologi', 'Seni'],
 'Kode': ['PS_001', 'PS_002', 'PS_003', 'PS_004'],
 'Jumlah': [10, 10, 10, 15]}

# Basic Python 4

### Fungsi

In [2]:
def f(x):
    print(x+3)

In [3]:
f(3)

6

In [7]:
print(y)

None

In [36]:
def f(x):
    return x+9

In [37]:
y=f(2)

In [38]:
print(y)

11

In [11]:
def kecepatan(jarak, waktu):
    spd = jarak/waktu
    return spd

In [12]:
panjang = 10
durasi = 5
kec = kecepatan(panjang, durasi)
print(kec)

2.0

In [16]:
kecepatan(10, 4)

2.5

In [17]:
kecepatan(jarak=10, waktu=5)

2.0

### Fungsi Default

### Luas Bola

In [18]:
def luas_bola(r,pi=3.14):
    return 4*pi*r**2

In [19]:
luas_bola(5)

314.0

In [20]:
l = luas_bola(10, pi=22/7)

In [21]:
print(l)

1257.142857142857

In [24]:
l1 = luas_bola(10)

In [26]:
print (l1)

1256.0

In [34]:
def peserta(Nama, Sekolah="SMK Negeri 1 SIITM"):
    print("Selamat Datang " + Nama + " di "+Sekolah)

In [35]:
peserta("Jisoo")

Selamat Datang Jisoo di SMK Negeri 1 SIITM

In [36]:
peserta("Jennie","IIB Darmajaya")

Selamat Datang Jennie di IIB Darmajaya

### Fungsi Lambda

In [41]:
lambda r: 4*3.14**2

In [42]:
fungsi1 = lambda r: 4*3.14*r**2

In [43]:
fungsi1(5)

314.0

In [44]:
(lambda r: 4*3.14*r**2)(5)

314.0

In [48]:
(lambda r, pi:4*pi*r**2)(5,3.14)

314.0

In [49]:
(lambda r, pi:4*pi*r**2)(5,22/7)

314.2857142857143

# Project Perpustakaan 4

In [1]:
#Inisialisasi
Nama_buku_1="Fisika"
Nama_buku_2="Kimia"
Nama_buku_3="Biologi"
durasi=3

In [2]:
type(Nama_buku_1),type(Nama_buku_2),type(Nama_buku_3), type(durasi)

(str, str, str, int)

In [3]:
kode_buku_1="PS_001"
kode_buku_2="PS_002"
kode_buku_3="PS_003"

In [4]:
N_buku_1=N_buku_2=N_buku_3=10

In [5]:
type(N_buku_1)

int

In [6]:
Nama_buku=(Nama_buku_1,Nama_buku_2,Nama_buku_3)
Kode_buku=[kode_buku_1,kode_buku_2,kode_buku_3]
N_buku=[N_buku_1, N_buku_2, N_buku_3]

In [7]:
type(Nama_buku), type(Kode_buku), type(N_buku)

(tuple, list, list)

In [8]:
pustaka={"Nama":Nama_buku,
 "Kode":Kode_buku,
 "Jumlah":N_buku}

In [9]:
type(pustaka)

dict

In [10]:
pustaka

{'Nama': ('Fisika', 'Kimia', 'Biologi'),
 'Kode': ['PS_001', 'PS_002', 'PS_003'],
 'Jumlah': [10, 10, 10]}

In [11]:
Nama_buku=[Nama_buku_1,Nama_buku_2,Nama_buku_3]
pustaka={"Nama":Nama_buku,
 "Kode":Kode_buku,
 "Jumlah":N_buku}
pustaka

{'Nama': ['Fisika', 'Kimia', 'Biologi'],
 'Kode': ['PS_001', 'PS_002', 'PS_003'],
 'Jumlah': [10, 10, 10]}

In [12]:
pustaka['Nama'].append('Seni')
pustaka['Kode'].append('PS_004')
pustaka['Jumlah'].append(15)
print("Buku {} dengan jumlah {}".format(pustaka["Nama"][-1],
                                        pustaka['Jumlah'][-1]))

Buku Seni dengan jumlah 15

In [13]:
pustaka

{'Nama': ['Fisika', 'Kimia', 'Biologi', 'Seni'],
 'Kode': ['PS_001', 'PS_002', 'PS_003', 'PS_004'],
 'Jumlah': [10, 10, 10, 15]}

In [14]:
print("Buku yang tersedia:")
print("Nama Buku\t Kode Buku\t Jumlah")
for i in range(len(pustaka['Nama'])):
    print("Buku {}\t kode {}\t {}".format(
        pustaka['Nama'][i],
        pustaka['Kode'][i],
        pustaka['Jumlah'][i]))

Buku yang tersedia:
Nama Buku	 Kode Buku	 Jumlah
Buku Fisika	 kode PS_001	 10
Buku Kimia	 kode PS_002	 10
Buku Biologi	 kode PS_003	 10
Buku Seni	 kode PS_004	 15

In [16]:
print("Form Peminjaman")
varNama=str(input("Nama Peminjam ="))
varBuku=str(input("Kode Buku= "))
for i in range(len(pustaka['Kode'])):
    if varBuku==pustaka['Kode'][i] and pustaka['Jumlah'][i]>1:
        print("Bisa pinjam".format(varNama))
        print("Durasi waktu pinjam {} hari".format(durasi))
        pustaka['Jumlah'][i]-=1
    elif i==len(pustaka['Kode'])-1:
        print("Tidak bisa dipinjam")

Form Peminjaman
Nama Peminjam =Aldwi
Kode Buku= PS_004
Bisa pinjam
Durasi waktu pinjam 3 hari

In [17]:
print("Form Peminjaman")
varNama=str(input("Nama Peminjam ="))
varBuku=str(input("Kode Buku= "))
for i in range(len(pustaka['Kode'])):
    if varBuku==pustaka['Kode'][i] and pustaka['Jumlah'][i]>1:
        print("Bisa pinjam".format(varNama))
        print("Durasi waktu pinjam {} hari".format(durasi))
        pustaka['Jumlah'][i]-=1
        break
    elif i==len(pustaka['Kode'])-1:
        print("Tidak bisa dipinjam")

Form Peminjaman
Nama Peminjam =Mandak
Kode Buku= PS_004
Bisa pinjam
Durasi waktu pinjam 3 hari

In [18]:
pustaka

{'Nama': ['Fisika', 'Kimia', 'Biologi', 'Seni'],
 'Kode': ['PS_001', 'PS_002', 'PS_003', 'PS_004'],
 'Jumlah': [10, 10, 10, 12]}

In [19]:
print("Form Pengembalian")
varNama=str(input("Nama Peminjam\t="))
varBuku=str(input("Kode Buku\t="))
varHari=int(input("Jumlah Hari\t="))
for i in range(len(pustaka['Kode'])):
    if varBuku==pustaka['Kode'][i]:
        if varHari>=durasi:
            denda=(varHari-durasi)*1000
            print("Terima kasih, {}\nDenda sebesar Rp.{}".format(varNama,denda))
            pustaka['Jumlah'][i]+=1
            break
        else:
            print("Terima kasih,{}".format(varNama))
            pustaka['Jumlah'][i]+=1
            break
    elif i==len(pustaka['Kode'])-1:
        print("Salah kode")

Form Pengembalian
Nama Peminjam	=Aldwi
Kode Buku	=PS_004
Jumlah Hari	=500
Terima kasih, Aldwi
Denda sebesar Rp.497000

In [20]:
pustaka

{'Nama': ['Fisika', 'Kimia', 'Biologi', 'Seni'],
 'Kode': ['PS_001', 'PS_002', 'PS_003', 'PS_004'],
 'Jumlah': [10, 10, 10, 13]}

1. Fungsi Peminjaman
2. Fungsi Pengembalian
3. Fungsi Data Terakhir

In [21]:
def Data_terakhir():
    print("Buku yang tersedia:")
    print("Nama Buku\t Kode Buku\t Jumlah")
    for i in range(len(pustaka['Nama'])):
        print("Buku {}\t kode {}\t {}".format(
            pustaka['Nama'][i],
            pustaka['Kode'][i],
            pustaka['Jumlah'][i]))

In [22]:
Data_terakhir()

Buku yang tersedia:
Nama Buku	 Kode Buku	 Jumlah
Buku Fisika	 kode PS_001	 10
Buku Kimia	 kode PS_002	 10
Buku Biologi	 kode PS_003	 10
Buku Seni	 kode PS_004	 13

In [23]:
def peminjaman():
    print("Form Peminjaman")
    varNama=str(input("Nama Peminjam ="))
    varBuku=str(input("Kode Buku= "))
    for i in range(len(pustaka['Kode'])):
        if varBuku==pustaka['Kode'][i] and pustaka['Jumlah'][i]>1:
            print("Bisa pinjam".format(varNama))
            print("Durasi waktu pinjam {} hari".format(durasi))
            pustaka['Jumlah'][i]-=1
            break
        elif i==len(pustaka['Kode'])-1:
            print("Tidak bisa dipinjam")

In [24]:
peminjaman()

Form Peminjaman
Nama Peminjam =Jisoo
Kode Buku= PS_004
Bisa pinjam
Durasi waktu pinjam 3 hari

In [25]:
pustaka

{'Nama': ['Fisika', 'Kimia', 'Biologi', 'Seni'],
 'Kode': ['PS_001', 'PS_002', 'PS_003', 'PS_004'],
 'Jumlah': [10, 10, 10, 12]}

In [26]:
def pengembalian(pustaka=pustaka):
    print("Form Pengembalian")
    varNama=str(input("Nama Peminjam\t="))
    varBuku=str(input("Kode Buku\t="))
    varHari=int(input("Jumlah Hari\t="))
    for i in range(len(pustaka['Kode'])):
        if varBuku==pustaka['Kode'][i]:
            if varHari>=durasi:
                denda=(varHari-durasi)*1000
                print("Terima kasih, {}\nDenda sebesar Rp.{}".format(varNama,denda))
                pustaka['Jumlah'][i]+=1
                break
            else:
                print("Terima kasih,{}".format(varNama,denda))
                pustaka['Jumlah'][i]+=1
                break
        elif i==len(pustaka['Kode'])-1:
            print("Salah kode")

In [27]:
pengembalian()

Form Pengembalian
Nama Peminjam	=Jisoo
Kode Buku	=PS_004
Jumlah Hari	=800
Terima kasih, Jisoo
Denda sebesar Rp.797000

In [28]:
def tambah_buku(varBuku,varKode,varJumlah):
    for i in range(len(pustaka['Kode'])):
        if varKode==pustaka['Kode'][i]:
            pustaka['Jumlah'][i]+=varJumlah
            print("Buku {} dengan Jumlah {}".format(pustaka["Nama"][i],
                                                    pustaka['Jumlah'][i]))
            break
    else:
        pustaka['Nama'].append(varBuku)
        pustaka['Kode'].append(varKode)
        pustaka['Jumlah'].append(varJumlah)
        
        print("Buku Baru {} dengan Jumlah {}".format(pustaka["Nama"][-1],
                                                     pustaka['Jumlah'][-1]))

In [29]:
Data_terakhir()

Buku yang tersedia:
Nama Buku	 Kode Buku	 Jumlah
Buku Fisika	 kode PS_001	 10
Buku Kimia	 kode PS_002	 10
Buku Biologi	 kode PS_003	 10
Buku Seni	 kode PS_004	 13

In [30]:
Judul="TKJ"
Kode="PS_005"
Jumlah= 7
tambah_buku(Judul,Kode,Jumlah)

Buku Baru TKJ dengan Jumlah 7

In [31]:
Data_terakhir()

Buku yang tersedia:
Nama Buku	 Kode Buku	 Jumlah
Buku Fisika	 kode PS_001	 10
Buku Kimia	 kode PS_002	 10
Buku Biologi	 kode PS_003	 10
Buku Seni	 kode PS_004	 13
Buku TKJ	 kode PS_005	 7

In [32]:
Judul="Sastra"
Kode="PS_006"
Jumlah=5
tambah_buku(Judul,Kode,Jumlah)

Buku Baru Sastra dengan Jumlah 5

In [33]:
Judul="TKJ"
kode="PS_005"
jumlah= 20
tambah_buku(Judul,kode,jumlah)

Buku TKJ dengan Jumlah 27

In [35]:
Data_terakhir()

Buku yang tersedia:
Nama Buku	 Kode Buku	 Jumlah
Buku Fisika	 kode PS_001	 10
Buku Kimia	 kode PS_002	 10
Buku Biologi	 kode PS_003	 10
Buku Seni	 kode PS_004	 13
Buku TKJ	 kode PS_005	 27
Buku Sastra	 kode PS_006	 5